* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border-radius: 15px;
  width: 375px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.564);
  margin: 0 10px 10px 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

.delete {
  background-color: red;
  color: white;
}

.plus {
  background-color: black;
  color: white;
}

.minus {
  background-color: black;
  color: white;
}

.divide {
  background-color: black;
  color: white;
}

.multiply {
  background-color: black;
  color: white;
}

.equal {
  background-color: black;
  color: white;
}

button:hover {
  transform: scale(0.8);
}

.ac {
  background-color:#ff4293;
  color: white;
}

.percentage {
  background-color: black;
  color: white;
}

.row {
  text-align: center;
  position: relative;
  top: 6rem;
}
.four{
  background-color: #e97501;
}
.one{
  background-color: #e97501;
}
.two{
  background-color: #e97501;
}
.three{
  background-color: #e97501;
}
.five{
  background-color: #e97501;
}
.six{
  background-color: #e97501;
}
.seven{
  background-color: #e97501;
}
.eight{
  background-color: #e97501;
}
.nine{
  background-color: #e97501;
}
.double-zero{
  background-color: darkgray;
}
.zero{
  background-color: darkgray;
}
.dot{
  background-color:darkgray;
}
.equal{
  background-color: #000000;
}
.wrapper span {
  position: fixed;
  top: -120px;
  height: 50px;
  width: 50px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
  border: 5px solid cyan;
}

.wrapper span:nth-child(2) {
  left: 60%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
  background: #ff4293;
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
  border: 5px solid #fff;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
  background: #e97501;
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
  border: 5px solid #ff4293;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
  border: 5px solid deepskyblue;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
  background: #ffd59e;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
  border: 5px solid #e97501;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
  background: cyan;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
  border: 5px solid #fff;
}
.shiny-button {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border: none;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.shiny-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8) 0%,
    transparent 50%,
    rgba(255, 255, 255, 0.8) 100%
  );
  transform: rotate(45deg);
  animation: shiny 2s infinite linear;
}

@keyframes shiny {
  0% {
    transform: rotate(45deg) translate(-50%, -50%);
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(45deg) translate(50%, 50%);
    opacity: 0.7;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}


.display {
  position:fixed;
  left:0; right:0; margin:auto;
  height:80px; width:372px;
  background:rgba(45, 45, 45, 0.458);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow:
    inset 1px 1px 7px 0px #050505,
    0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;
}
.display input {
  background:none;
  border:none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background:rgba(56, 62, 37, 0.391);
  outline:none;
  position:absolute;
  top:0; left:0;
  font-family: 'Audiowide', cursive;
  font-size:28pt;
  text-align: right;
  right:0; bottom:0;
  padding:0px 15px;
  color:#fff8f8;
  text-shadow: 3px 2px 0px rgba(0,0,0,.2);
}

@media (max-width: 280px) {

  .container{
    width: 300px;
    height: 400px;
  }
  button {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 0.7rem;
    border: none;
    outline: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.564);
    margin: 0 5px 5px 2px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }
 
}
